  input[type="radio"] {
    display: none;
    &:checked {
      + .box {
        background-color: #d24979;
        span {
          color: white;
          transform: translateY(70px);
          &:before {
            transform: translateY(0px);
            opacity: 1;
          }
        }
      }
    }
  }
  .box {
    background-color: #333;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-weight: 900;
    padding: 5px 1em;
    &:active{
      transform: translateY(10px);
    }
    span {
      color: #d24979;
    }
  }
