* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  font: 400 16px/18px Arial;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
.logo {
  margin-bottom: 1em;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
header {
  color: #e50914;
  background: linear-gradient(45deg, rgba(103, 0, 31, .8), rgba(34, 101, 163, .5)), url(https://assets.nflxext.com/ffe/siteui/vlv3/eeca4431-e8de-4314-9a9f-189c87c2fe08/3702eb34-731a-4357-8750-20b0d9b98381/BY-en-20190325-popsignuptwoweeks-perspective_alpha_website_small.jpg);
  background-size: cover;
  padding: 0 10em;
}
.sub-header {
  display: flex;
  justify-content: space-between;
  padding: 0 10em;
  margin-bottom: 1em;
  background-color: #dddddd;
}
.container {
  flex: 1 0 auto;
}
.content {
  display: flex;
  flex: 1 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10em;
  margin-top: 1em;
}
footer {
  display: flex;
  flex: 0 0 auto;
  background-color: #32383D;
  padding: 1em 10em;
  color: #e50914;
}
.btn {
  background-color: #d24979;
  padding: 5px 15px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.btn:hover {
  color: gray;
}
.search-form-block > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  color: white;
}
.search-form-block h3 {
  color: white;
  margin-bottom: 1em;
}
.search-form-tags {
  display: flex;
}
.search-form-tags div {
  margin-right: 1em;
}
.search-form-btn {
  display: flex;
}
.item-preview {
  width: 30%;
  margin-bottom: 1em;
}
.item-preview-title {
  display: flex;
  justify-content: space-between;
}
.item-preview-release-date {
  border: 1px solid black;
  padding: 1px 5px;
}
.item-preview-genres {
  font-size: 12px;
}
.state-line {
  display: flex;
  justify-content: space-between;
  padding: 5px 10em;
  font-weight: 900;
  color: black;
  background-color: #dddddd;
}
.state-line-right {
  display: flex;
  justify-content: space-between;
}
.state-line-right div {
  margin: 0 10px;
}
.state-line-right .active {
  color: #d24979;
}