{
  "root": true,
  "parser": "babel-eslint",
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "16.8"
    },
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    }
  },
  "plugins": [
    "react",
    "prettier"
  ],
  "extends": [
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "parserOptions": {
    "ecmaVersion": 2015,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "legacyDecorators": true
    }
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "no-new-func": "off",
    "import/prefer-default-export": "off",
    "no-underscore-dangle": "off",
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "react/jsx-filename-extension": "off",
    "react/no-multi-comp": "off",
    "react/no-unused-prop-types": "off",
    "react/require-default-props": "off",
    "no-restricted-syntax": "off",
    "no-continue": "off",
    "no-await-in-loop": "off",
    "no-void": "off",
    "no-var": "off",
    "no-console": "off",
    "no-script-url": "off",
    "consistent-return": "off",
    "no-return-assign": "off",
    "react/sort-comp": "off",
    "camelcase": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "class-methods-use-this": "off",
    "react/prefer-stateless-function": "off",
    "prettier/prettier": "warn",
    "prefer-promise-reject-errors": "off",
    "prefer-destructuring": "off",
    "no-new": "off",
    "no-return-await": "off",
    "radix": "off"
  }
}