* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  font: 400 16px/18px Arial;
}
body > :first-child {
  display: flex;
  flex-direction: column;
  height: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  flex: 1 0 auto;
}
.content {
  display: flex;
  flex: 1 0 auto;
  flex-wrap: wrap;
  padding: 0 10em;
  margin-top: 1em;
}
footer {
  display: flex;
  flex: 0 0 auto;
  background-color: #32383D;
  padding: 1em 10em;
  color: #e50914;
}