:local(.search_form) {
  min-width: 100%;
  margin: auto;
  top: 0; bottom: 0;
  left: 0; right: 0;
}
:local(.input_group) {
  width: 100%;
  overflow: hidden;
  position: relative;
}
:local(input) {
  display: block;
  padding: 1px 15px;
  width: 100%;
  border: none;
  border-radius: 0;
  color: white;
  background: black;
  font-size: 28px;
  transition: .3s ease;
  &:focus {
    outline: none;
  }
}
:local(.bottom_border) {
  background: #d24979;
  content: '';
  width: 100%;
  height: 5px;
  transition: .3s ease;
  position: relative;
}